# Python
__pycache__/
*.pyc
.venv/
env/
.ipynb_checkpoints/

# Jupyter outputs/logs
*.log

# Data and artifacts
chest_xray/
# artifacts/
# *.zip
cache/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

assignment2_text.txt